Desarrollo/trunk/net/slnKB2C/KB2C.Data/Service References/ServiceCategorias/ProxyCategorias4.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ccs="http://www.kallsony.com/operacion/consultarcategorias" xmlns:cat="http://www.kallsony.com/entidad/categoria" xmlns:flc="http://www.kallsony.com/util/filtro" elementFormDefault="qualified" targetNamespace="http://www.kallsony.com/operacion/consultarcategorias" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyCategorias?SCHEMA%2FOSBCategorias%2FXSD%2FXMLSchema_2109404818" namespace="http://www.kallsony.com/entidad/categoria" />
  <import schemaLocation="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyCategorias?SCHEMA%2FOSBCategorias%2FXSD%2FXMLSchema_15904041" namespace="http://www.kallsony.com/util/filtro" />
  <complexType name="ConsultaCategoriaEntrada">
    <sequence>
      <element name="filtroCategoria" type="flc:Filtro" />
    </sequence>
  </complexType>
  <complexType name="ConsultaCategoriaSalida">
    <sequence>
      <element minOccurs="0" name="listaCategorias" type="cat:Categorias" />
    </sequence>
  </complexType>
  <element name="consultaCategoriaEntrada" type="ccs:ConsultaCategoriaEntrada" />
  <element name="consultaCategoriaSalida" type="ccs:ConsultaCategoriaSalida" />
</schema>