Desarrollo/branches/B2C_SinDI_Jf/KB2C.Data/Service References/ServiceOrdenes/ProxyOrdenes.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:dr="http://www.kallsony.com/entidad/direccion" targetNamespace="http://www.kallsony.com/entidad/direccion" xmlns="http://www.w3.org/2001/XMLSchema">
  <complexType name="Direccion">
    <sequence>
      <element minOccurs="0" name="numero" type="string" />
      <element minOccurs="0" name="ciudad" type="string" />
      <element minOccurs="0" name="departamento" type="string" />
      <element minOccurs="0" name="idCiudad" type="int" />
      <element minOccurs="0" name="idDepartamento" type="int" />
    </sequence>
  </complexType>
</schema>