Desarrollo/trunk/net/slnKB2C/KB2C.Data/Service References/ServiceCompra/ProxyCompra5.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:od="http://www.kallsony.com/entidad/orden" xmlns:tj="http://www.kallsony.com/entidad/tarjeta" xmlns:cm="http://www.kallsony.com/entidad/compra" xmlns:ev="http://www.kallsony.com/entidad/usuario" targetNamespace="http://www.kallsony.com/entidad/compra" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="http://25.5.55.200:7002/OSBKallsonys/ProxyService/ProxyCompra?SCHEMA%2FOSBCompras%2FXSD%2FXMLSchema_1830050591" namespace="http://www.kallsony.com/entidad/usuario" />
  <import schemaLocation="http://25.5.55.200:7002/OSBKallsonys/ProxyService/ProxyCompra?SCHEMA%2FOSBCompras%2FXSD%2FXMLSchema_1135929342" namespace="http://www.kallsony.com/entidad/tarjeta" />
  <import schemaLocation="http://25.5.55.200:7002/OSBKallsonys/ProxyService/ProxyCompra?SCHEMA%2FOSBCompras%2FXSD%2FXMLSchema_-1420568389" namespace="http://www.kallsony.com/entidad/orden" />
  <complexType name="Compra">
    <sequence>
      <element minOccurs="0" name="tarjeta" type="tj:Tarjeta" />
      <element minOccurs="0" name="envioTitular" type="boolean" />
      <element minOccurs="0" name="usuarioEnvio" type="ev:Usuario" />
      <element minOccurs="0" name="orden" type="od:Orden" />
    </sequence>
  </complexType>
</schema>