Desarrollo/trunk/net/slnKB2C/KB2C.Data/Service References/ServiceCampanias/ProxyCampanias4.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:cam="http://www.kallsony.com/operacion/consultacampania" xmlns:ft="http://www.kallsony.com/util/filtro" xmlns:cp="http://www.kallsony.com/entidad/campania" elementFormDefault="qualified" targetNamespace="http://www.kallsony.com/operacion/consultacampania" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyCampanias?SCHEMA%2FOSBCampanias%2FXSD%2FXMLSchema_1765942525" namespace="http://www.kallsony.com/util/filtro" />
  <import schemaLocation="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyCampanias?SCHEMA%2FOSBCampanias%2FXSD%2FXMLSchema_175690175" namespace="http://www.kallsony.com/entidad/campania" />
  <complexType name="ConsultaCampaniaEntrada">
    <sequence>
      <element name="filtroCampania" type="ft:FiltroCampania" />
    </sequence>
  </complexType>
  <complexType name="ConsultaCampaniaSalida">
    <sequence>
      <element name="campanias" type="cam:Campanias" />
    </sequence>
  </complexType>
  <complexType name="Campanias">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="campania" type="cp:Campania" />
    </sequence>
  </complexType>
  <element name="consultaCampaniaEntrada" type="cam:ConsultaCampaniaEntrada" />
  <element name="consultaCampaniaSalida" type="cam:ConsultaCampaniaSalida" />
</schema>