Desarrollo/trunk/net/SERVICIODHL/WcfServiceDHL1/PruebaServicioDHL/Service References/ServiceDHL/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceDHL1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceDHL1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Shipment">
    <xs:sequence>
      <xs:element minOccurs="0" name="addresseeLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="addresseeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="supplier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shipment" nillable="true" type="tns:Shipment" />
</xs:schema>