Desarrollo/trunk/net/SERVICIODHL/WcfServiceDHL1/PruebaServicioDHL/Service References/ServiceDHL/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54605/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceDHL1" />
  <xs:element name="devuelveValor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="devuelveValorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="devuelveValorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fullfillShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceDHL1" minOccurs="0" name="envio" nillable="true" type="q1:Shipment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fullfillShipmentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>