Desarrollo/tags/net/NDI/slnKB2C/KB2C.Data/Service References/ServiceCompra/mockPortCompraSOAP11Binding6.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:od="http://www.kallsony.com/entidad/orden" xmlns:tj="http://www.kallsony.com/entidad/tarjeta" xmlns:cm="http://www.kallsony.com/entidad/compra" xmlns:ev="http://www.kallsony.com/entidad/usuario" targetNamespace="http://www.kallsony.com/entidad/compra" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="mockPortCompraSOAP11Binding?WSDL&amp;interface=PortCompraSOAP11Binding&amp;part=Usuario.xsd" namespace="http://www.kallsony.com/entidad/usuario" />
  <import schemaLocation="mockPortCompraSOAP11Binding?WSDL&amp;interface=PortCompraSOAP11Binding&amp;part=Tarjeta.xsd" namespace="http://www.kallsony.com/entidad/tarjeta" />
  <import schemaLocation="mockPortCompraSOAP11Binding?WSDL&amp;interface=PortCompraSOAP11Binding&amp;part=Orden.xsd" namespace="http://www.kallsony.com/entidad/orden" />
  <complexType name="Compra">
    <sequence>
      <element minOccurs="0" name="tarjeta" type="tj:Tarjeta" />
      <element minOccurs="0" name="envioTitular" type="boolean" />
      <element minOccurs="0" name="usuarioEnvio" type="ev:Usuario" />
      <element minOccurs="0" name="orden" type="od:Orden" />
    </sequence>
  </complexType>
</schema>