Desarrollo/trunk/net/slnKB2C/KB2C.Data/Service References/ServiceProductos/ProxyProductos4.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ft="http://www.kallsony.com/util/filtro" xmlns:pr="http://www.kallsony.com/entidad/producto" xmlns:cp="http://www.kallsony.com/operacion/consultaproducto" elementFormDefault="qualified" targetNamespace="http://www.kallsony.com/operacion/consultaproducto" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyProductos?SCHEMA%2FOSBProductos%2FXSD%2FXMLSchema_1160370405" namespace="http://www.kallsony.com/entidad/producto" />
  <import schemaLocation="http://192.168.2.6:7002/OSBKallsonys/ProxyService/ProxyProductos?SCHEMA%2FOSBProductos%2FXSD%2FXMLSchema_438953405" namespace="http://www.kallsony.com/util/filtro" />
  <complexType name="ConsultaProductoEntrada">
    <sequence>
      <element name="filtroProducto" type="ft:Filtro" />
    </sequence>
  </complexType>
  <complexType name="ConsultaProductoSalida">
    <sequence>
      <element minOccurs="0" maxOccurs="1" name="respuestaFiltro" type="ft:RespuestaFiltro" />
      <element name="listaProductos" type="cp:Productos" />
    </sequence>
  </complexType>
  <complexType name="Productos">
    <sequence minOccurs="1">
      <element minOccurs="0" maxOccurs="unbounded" name="producto" type="pr:Producto" />
    </sequence>
  </complexType>
  <element name="consultaProductoEntrada" type="cp:ConsultaProductoEntrada" />
  <element name="consultaProductoSalida" type="cp:ConsultaProductoSalida" />
</schema>