Desarrollo/trunk/osb/OSBSony/XSD/XMLSchema_227565167.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="XMLSchema_485730605.xsd" namespace="http://schemas.datacontract.org/2004/07/WcfSony"/><xs:element name="fullfillOrder"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="envio" nillable="true" type="q1:Order" xmlns:q1="http://schemas.datacontract.org/2004/07/WcfSony"/></xs:sequence></xs:complexType></xs:element><xs:element name="fullfillOrderResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="checkOrderStatus"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="order" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="checkOrderStatusResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="checkOrderStatusResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>