Desarrollo/trunk/osb/OSBRapidService/XSD/XMLSchema_1218453054.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="XMLSchema_1476618492.xsd" namespace="http://schemas.datacontract.org/2004/07/WcfRapidService"/><xs:element name="fullfillShipment"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="envio" nillable="true" type="q1:Shipment" xmlns:q1="http://schemas.datacontract.org/2004/07/WcfRapidService"/></xs:sequence></xs:complexType></xs:element><xs:element name="fullfillShipmentResponse"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="checkShipmentStatus"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="order" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="checkShipmentStatusResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="checkShipmentStatusResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element></xs:schema>